<!DOCTYPE html>
<html>
  <style>
    #lower{
      background-color:#FAFAFF ;
    }

    #fix{
      margin: 50px;
    }

    .box{
      width:200px;
      height: 200px;
    }

    #icon{
      margin-bottom: 30px;
      margin: auto;
    }

    #flight-info{
      background-color: white;
    }

  
  </style>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>
  <body>
  
    <div class="container">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="https://bulma.io">
            <img src="/./assets/images/planeicon.png" width="50px" height="90px">
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      </nav>
    </div>
  

  <section id="lower" class="section">
    <div class="columns is-mobile is-centered">
        <div class="columns has-text-centered">
          <div class="column" id="fix">
            <div class="box">
              <figure id="icon" class="image is-96x96">
                <img src="/./assets/images/chat.png">
              </figure>
              <br>
              Chat Room
            </div>
          </div>
          <div class="column" id="fix">
            <div class="box">
              <figure id="icon" class="image is-96x96">
                <img src="/./assets/images/book.png">
              </figure>
              <br>
              Travel Guide
            </div>
          </div>
          <div class="column" id="fix">
            <div class="box">
              <figure id="icon" class="image is-96x96">
                <img src="/./assets/images/qa.png">
              </figure>
              <br>
              FAQ
            </div>
        </div>
    </div>
  </section>

 
  
  </body>
</html>
