<!DOCTYPE html>
<html>
  <style>
    #lower{
      background-color: #FAFAFF;
    }


    #fix{
      margin: 50px;
    }

    .box{
      width:200px;
      height: 200px;
    }

    #icon{
      margin: auto;
    }

    #flight-info{
      background-color: white;
    }
  </style>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>
  <body>
    <section id="lower" class="section">
      <div class="columns is-mobile is-centered">
          <div class="columns has-text-centered">
            <div class="column" id="fix">
              <div class="box">
                <figure id="icon" class="image is-96x96">
                  <img src="/./static/assets/images/chat.png">
                </figure>
                <br>
                <strong>Chat Room</strong>
              </div>
            </div>
            <div class="column" id="fix">
              <div class="box">
                <figure id="icon" class="image is-96x96">
                  <img src="/./static/assets/images/assist.png">
                </figure>
                <br>
                <strong>Attendant Support</strong>
              </div>
            </div>
            <div class="column" id="fix">
              <div class="box">
                <figure id="icon" class="image is-96x96">
                  <img src="/./static/assets/images/guide.png">
                </figure>
                <br>
                <strong>Travel Guide</strong>
              </div>
            </div>
            <div class="column" id="fix">
              <div class="box">
                <figure id="icon" class="image is-96x96">
                  <img src="/./static/assets/images/faq.png">
                </figure>
                <br>
                <strong>FAQ</strong>
              </div>
          </div>
      </div>
    </section>

  <section class="section has-text-centered" style="background-color: #f0f0f8;">
    <div class="card">
      <div class="card-content">
        <div class="content">
          <h1 class="title is-2">
            Flight IATA {{flight_information["flight"]["iata"]}}
          </h1>
          <br></div>
          <h2 class="title is-5 is-spaced">
            {{flight_information["arrival"]["estimated"]}}
          </h2>
          
          <h3 class="title is-3 is-spaced">
            {{flight_information["departure"]["iata"]}}  &nbsp  &nbsp  ➤  &nbsp &nbsp {{flight_information["arrival"]["iata"]}}
          </h3>
          <h4 class="subtitle is-6">
            {{flight_information["departure"]["airport"]}} to {{flight_information["arrival"]["airport"]}}
          </h4>
        </div>
      </div>
    </div>

    <section class="section has-text-centered" style="background-color:#f0f0f8;">
      
      <div class="card" style="margin-top: 20px;">
        <div class="card-content">
          <div class="content">
            <div class="columns">
              <div class="column">
                <h1 class="subtitle is-4">
                  <p></p>
                 </h1>
                <h2 class="subtitle is-4" style="color:#0e75cf;">
                 DL49040
                </h2>
                <h3 class="subtitle is-4">
                  <p></p>
                 </h3>
              </div>
              <div class="column">
                <h1 class="subtitle is-6">
                  date
                </h1>
                <h2 class="subtitle is-6">
                  time  
                </h2>
                <h3 class="subtitle is-6">
                  DFW
                </h3>
              </div>
              <div class="column">
                <h1 class="subtitle is-6">
                  <br>
                </h1>
                <progress class="progress is-small is-info" max="100">15%</progress>
                <h2 class="subtitle is-6">
                  <br>
                </h2>
              </div>
              <div class="column">
                <h1 class="subtitle is-6">
                  date
                </h1>
                <h2 class="subtitle is-6">
                  time
                </h2>
                <h3 class="subtitle is-6">
                  HOU
                </h3>
              </div>
          
              <div class="column">
                <h1 class="subtitle is-6">
                  <br>
                </h1>
                <h2 class="title is-5">
                  On Time
                </h2>
                <h3 class="subtitle is-6">
                  Duration: 2 hours
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  
  </body>
</html>
