<!DOCTYPE html>
<html>
  <style>
    #lower{
      background-color: #cccccc;
    }


    #fix{
      margin: 50px;
    }

    .box{
      width:200px;
      height: 200px;
    }

    #icon{
      margin-bottom: 30px;
      text-align: center;
    }

    #flight-info{
      background-color: white;
    }
  </style>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>
  <body>
  <section id="lower" class="section" style="background-color: #FAFAFF;">
    <div class="columns is-mobile is-centered">
        <div class="columns has-text-centered">
          <div class="column" id="fix">
            <div class="box">
              <figure id="icon is-centered" class="image is-256x256">
                <img src="/./assets/images/chat.png">
              </figure>
              <strong>Flight Chat Room</strong>
            </div>
          </div>
          <div class="column" id="fix">
            <div class="box">
              <figure id="icon is-centered" class="image is-256x256">
                <img src="/./assets/images/assist.png">
              </figure>
              <strong>Attendant Support</strong>
            </div>
          </div>
          <div class="column" id="fix">
            <div class="box">
              <figure id="icon" class="image is-256x256">
                <img src="/./assets/images/guide.png">
              </figure>
              <strong>Travel Guide</strong>
            </div>
          </div>
          <div class="column" id="fix">
            <div class="box">
              <figure id="icon" class="image is-256x256">
                <img src="/./assets/images/faq.png">
              </figure>
              <strong>FAQ</strong>
            </div>
        </div>
    </div>
  </section>

  <section class="section has-text-centered" style="background-color: #FAFAFF;">
    <div class="card">
      <div class="card-content">
        <div class="content">
          <h1 class="title is-2">
            Flight Information
          </h1>
          <br></div>
          <h2 class="title is-5 is-spaced">
            Saturday, January 29, 2023
          </h2>
          
          <h3 class="title is-3 is-spaced">
            DFW  &nbsp  &nbsp  ➤  &nbsp &nbsp HOU
          </h3>
          <h4 class="subtitle is-6">
            Dallas Forth Worth International to Houston George Bush International
          </h4>
        </div>
      </div>
    </div>
    
    <div class="card" style="margin-top: 20px;">
      <div class="card-content">
        <div class="content">
          <h1 class="title is-2">
            Flight Information
          </h1>
          <br></div>
          <h2 class="title is-5 is-spaced">
            Saturday, January 29, 2023
          </h2>
          
          <h3 class="title is-3 is-spaced">
            DFW  &nbsp  &nbsp  ➤  &nbsp &nbsp HOU
          </h3>
          <h4 class="subtitle is-6">
            Dallas Forth Worth International to Houston George Bush International
          </h4>
        </div>
      </div>
    </div>
  </section>
  
  </body>
</html>
