<!DOCTYPE html>
<html>
  <style>
    #lower{
      background-color: #FAFAFF;
    }


    #fix{
      margin: 50px;
    }

    .box{
      width:200px;
      height: 200px;
    }

    #icon{
      margin: auto;
    }

    #flight-info{
      background-color: white;
    }
  </style>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>

  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" style="background-color: #48c5ef69;">
        <strong>Cloud Chats ☁️</strong>
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="dashboard.html">
          Dashboard
        </a>
  
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            List of Travel Guides
          </a>
  
          <div class="navbar-dropdown">
            <a class="navbar-item">
              Restruant  
            </a>
            <a class="navbar-item">
              Attractions
            </a>
            <a class="navbar-item">
              Weather 
            </a>
          </div>
        </div>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light">
              Log in
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <body>
    <section class="section has-text-centered" style="background-color:#f0f0f8;">
        <div class="card">
          <div class="card-content">
            <div class="content">
              <h1 class="title is-2">
                Flight Information
              </h1>
              <br></div>
              <h2 class="title is-5 is-spaced">
                Saturday, January 29, 2023
              </h2>
              
              <h3 class="title is-3 is-spaced">
                DFW  &nbsp  &nbsp  ➤  &nbsp &nbsp HOU
              </h3>
              <h4 class="subtitle is-6">
                Dallas Forth Worth International to Houston George Bush International
              </h4>
            </div>
          </div>
        </div>
        <div class="card" style="margin-top: 20px;">
            <div class="card-content">
            <div class="content">
                
            </div>
        </div>
    </section>
</body>
</html>>