<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cloud Chats ☁️</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
    <!-- Bulma Version 0.9.0-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
</head>
<body>
    <section class="hero background is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <h3 class="title has-text-white">Cloud Chat ✈︎</h3>
                    <hr class="login-hr">
                    <p class="subtitle has-text-white">please enter your flight IATA to proceed.</p>
                        <form method="POST">
                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" placeholder="{{placeholder}}" name = "flight-entry" autofocus="">
                                </div>
                            </div>
                        </form>
                        <div class="notification is-info {{hidden}}">
                                <p>Flight Information for <strong>{{flight_information["flight"]["iata"]}}</p>
                                <ul>
                                   <li>Arrival Airport: <strong>{{flight_information["arrival"]["airport"]}}</strong></li>
                                   <li>Arrival Time: <strong>{{flight_information["arrival"]["estimated"]}}</strong></li>
                                   <li>on Airline: <strong>{{flight_information["airline"]["name"]}}</strong></li>
                                </ul>
                    </div>
                    <a href = {{url_for("dashboard")}}><button class="button is-fullwidth is-link {{hidden}}">Confirm & Enter Flight Portal 
                    </button></a>                       </div>
                </div>
            </div>
        </div>
    </section>
    <script async type="text/javascript" src="../js/bulma.js"></script>
</body>

</html>